.wrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url("../../../assets/bg.jpeg") no-repeat center center;
    background-size: cover;
}
.weather-data{
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.inner-wrapper{
    width: 100% ;
}